/**
 * DEAR ANDREW KIM SCSS stylesheet 
 * 
 */
/**
 * 1. VARIABLES
 * 2. TYPOGRAPHY
 * 3. WRAPPING
 * 4. COMPONENTS
 */
/*------------------------------------*\
  1. VARIABLES
\*------------------------------------*/
/*------------------------------------*\
  2. TYPOGRAPHY
\*------------------------------------*/
/* line 49, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Inconsolata; }

/* line 53, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
body {
  font-family: Inconsolata;
  font-size: 16px;
  color: #40474E; }

/* line 60, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 0px; }

/* line 67, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
p {
  line-height: 1.7;
  margin: 0 0 20px; }
  /* line 70, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
  p a {
    text-decoration: underline; }

/* line 75, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
a {
  color: #F62459; }

/* line 79, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
a:hover {
  color: #F62459;
  text-decoration: none; }

/* line 83, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.description {
  color: #F62459;
  font-size: 14px;
  font-family: 'Josefin Sans';
  margin: 0 0 0px; }

/* line 90, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.date {
  color: #F62459;
  font-size: 14px;
  text-transform: uppercase; }

/*------------------------------------*\
  3. BEM
\*------------------------------------*/
/* line 100, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
html, body {
  width: 100%;
  height: 100%; }

/*------------------------------------*\
  A - HERO
\*------------------------------------*/
/* line 109, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.hero {
  width: 100%;
  height: 100%;
  background-color: #F62459;
  /*  background: url(/images/bike.jpg) no-repeat center center fixed;
      background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment : fixed;
  */ }

/* line 122, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.hero__title {
  color: #40474E; }

/* line 125, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.hero__text {
  color: #fff; }

/* line 128, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.hero__wrap {
  position: absolute;
  text-align: center;
  bottom: 40px;
  height: 50%;
  width: 100%;
  padding-left: 20px; }

/* line 137, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.hero__button {
  color: #fff;
  border: solid #fff 2px;
  border-color: #fff;
  background: transparent;
  padding: 10px 20px 10px 20px; }

/* line 145, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.hero__button:hover {
  color: #F62459;
  background: #fff; }

/*------------------------------------*\
  B - HEADER
\*------------------------------------*/
/* line 157, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
#header__nav {
  color: #fff;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  opacity: 1;
  position: relative;
  z-index: 999;
  background-color: #F62459;
  border: none; }

/* line 169, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.header__nav-helper {
  height: 50px;
  margin-bottom: 10px; }

/* line 175, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.header__brand {
  color: #fff; }

/* line 179, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.header__button {
  border: solid #fff 2px;
  color: #fff;
  background: transparent;
  margin: 10px;
  padding: 2px 2px 2px 2px; }

/*------------------------------------*\
  C - MAIN (review archive)
\*------------------------------------*/
/* line 192, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
main {
  padding-left: 20px; }

/* line 196, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.main__control {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px; }

/* line 202, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
#main__reviews {
  min-height: 800px; }

/* line 208, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
#main__reviews .mix {
  display: none;
  border-width: 2px; }

/* line 213, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.mix.book {
  border-top: 2px solid #F62459; }

/* line 217, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.mix.music {
  border-top: 2px solid #446CB3; }

/* line 221, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.mix.film {
  border-top: 2px solid #87D37C; }

@media all and (min-width: 420px) {
  /* line 226, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
  .container .mix,
  .container .gap {
    width: 32%; } }
@media all and (min-width: 640px) {
  /* line 233, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
  .container .mix,
  .container .gap {
    width: 23.5%; } }
/* line 240, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.main__button {
  color: #40474E;
  background: transparent;
  padding: 5px 20px 5px 20px; }

/* line 246, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.main__button--all {
  border: solid #ececec 2px; }

/* line 249, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.main__button--music {
  border: solid #F62459 2px; }

/* line 252, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.main__button--film {
  border: solid #446CB3 2px; }

/* line 257, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.main__button--book {
  border: solid #87D37C 2px; }

/*------------------------------------*\
  C - MAIN (review)
\*------------------------------------*/
/* line 266, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.main__overview p {
  line-height: 1.7;
  margin: 0; }
  /* line 269, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
  .main__overview p a {
    text-decoration: underline; }

/*------------------------------------*\
  D - FOOTER
\*------------------------------------*/
/* line 279, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
footer {
  position: relative;
  height: 50px; }

/* line 285, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
hr {
  border: 0;
  border-top: 3px solid #F62459; }

/* line 290, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
img {
  margin-bottom: 20px; }

/* line 294, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

/* line 302, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.invisible {
  opacity: 0; }

/* line 306, /home/andrew/Google Drive/darganist/source/stylesheets/custom.scss */
.visible {
  opacity: 1; }

/*------------------------------------*\
  5. NOT USED
\*------------------------------------*/
